@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --app-height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 40; */
.material-symbols-rounded {
  font-variation-settings: 'wght' 400;
  /* font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 48; */
  &.filled {
    font-variation-settings: 'FILL' 1;
  }
  &.medium {
    font-size: 28px;
  }
  &.large {
    font-size: 32px;
  }
  &.xlarge {
    font-size: 36px;
  }
}

// 탭 하이라이트 제거
@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    height: -webkit-fill-available;
    /* 익스플로러 IE 10 확대 제어 */
    -ms-content-zooming: none;
    -ms-touch-action: pan-x pan-y;
  }
}
/* * {
  -webkit-tap-highlight-color: transparent;
} */

// safe-area 하단 대응
@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
/* footer {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);

  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
} */

// safe-area 상단 대응
header {
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);

  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: var(--app-height);
  height: -webkit-fill-available;
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom: 15px 0 calc(constant(safe-area-inset-bottom) + 15px);
  overflow: hidden;
  touch-action: none;
}
